body {
  background-color: #333744;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  width: 100vw;
}

.logomarca {
  height: 80px;
}

.form-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 70vh;
  overflow-y: scroll;
}

.form-container::-webkit-scrollbar {
  display: none;
}