form {
  display: flex;
  flex-direction: column;

}

form label {
  margin-bottom: 5px;
}

form .form-control {
  border: none;
  width: 235px;
  font-size: 12px;
  background-color: rgba(16, 16, 16, 0.5);
  color: white;
  margin-bottom: 29px;
}

.form-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form .form-control:focus {
  background-color: rgba(16, 16, 16, 0.5);
  color: white;
}

.dropdown:enabled {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.up-arrow {
  rotate: 180deg;
}

section {
  margin-top: -1.5rem;
  width: 235px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  overflow-y: scroll;
  border-radius: 10px;
}

section p:hover {
  background-color: rgb(56, 56, 56);
  padding: 5px 2px;
}


.btn:disabled {
  width: 100px;
  height: 40px;
  color: rgba(255, 255, 255, 0.2);
  border: solid 2px #2858FF;

}

.btn:enabled {
  width: 100px;
  height: 40px;
  color: rgba(255, 255, 255, 1);
  border: solid 2px #2858FF;
  background-color: rgba(40, 88, 255, 0.3);

}